*{
    margin: 0 auto;
    padding: none;
}
body{
    font-family: 'Poppins', sans-serif;
}
.top-session{
    background-image: url(images/donation2.jpg) ;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 650px;
    background-position: center;
}
.top-session h1{
    color: white;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    padding-top: 150px;
    width: 65%;
    text-shadow: 2px 2px 5px black;
}
.top-session p{
    color: black;
    font-size: 20px;
    width: 50%;
    text-align: center;
    text-shadow: 2px 2px 5px white;
}
.donate-now{
    margin: 40px auto;
    width: 15%;
}
.donate-now a{
    display: inline-block;
    background-color: #FF5959;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
}
.donate-tody{
    margin: 100px auto;
}
.donate-tody h2{
    margin: 0px;
    text-align: center;
    font-weight:  bold;
    font-size: 45px;
}
.donate-tody p{
    font-size: 18px;
    width: 50%;
    text-align: center;
    padding-bottom: 20px;
}
.donate-tody ul{
    display: flex;
    margin: 10px auto;
    width: 54%;
}
.donate-tody ul li{
    list-style: none;
    margin: 30px 14px;
    padding: 32px 7px;
    width: 103px;
    background-color: #FAFAFA;
    text-align: center;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
}
.special{
    border:2px solid #FF5959;
    color: #ff5959;
}
.donate-form {
    width: 12%;
}
.donate-form input{
    margin: 10px 0px;
    font-size: 16px;
    border: none;
}
.donate-form button{
    margin: 10px 0px;
    background-color: #FF5959;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.donate-plan{
    width: 80%;
}
.description h1{
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}
.description p{
    margin: 0px auto;
    text-align: center;
    width: 60%;

}
.our-plans{
    display: flex;
    width: 100%;
    margin: 40px 0px;
}
.common{
    width: 29%;
    margin: 1%;
    padding: 40px 20px;
    border-radius: 15px;

}
.common img{
    width: 53px;
    height: 53px;
    font-size: 24px;
    font-weight: 600;
}
.common h2{
    font-size:24px;
    font-weight: 600;
}
.common p{
    font-size: 16px;
}
#food{
    background-color: #edf5f6;
}
#shelter{
    background-color: #ffeeee;
}
#education{
    background-color: #ffeeee;
}
footer{
    font-family: 'Mitr', sans-serif;
    width: 100%;
    background-color: black;
    margin: 0px;
    padding: 20px;
}
footer h3{
    color: gold;
    font-size: 30px;
    text-align: center;
}
footer h4{
    color: lightgreen;
    text-align: center;
    font-size: 24px;
}
.learn-more{
    width: 100%; 
    margin-bottom: 50px;   
}
.learn-more h1{
    font-size: 35px;
    margin: 0px;
    padding: 0px 10px;
    color: #0057ab;
    text-align: center;
}
.learn-more ul{
    display: flex;
    width: 80%;
    margin:0px auto;
}
.learn-more ul li{
    list-style: none;
    margin: 0px;
    width: 28.5%;
    text-align: center;
}
.learn-more ul li a{
    border: 2px solid #0057ab;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
}
.learn-more ul li a:hover{
    color: white;
    background-color: #0057ab;
}
.getUpdate h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: black;
}
.getUpdate p{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: black;
}
.getUpdate form{
    margin: 15px auto;
    width: 50%;
    background-color: #FFF4D6;
    height: 200px;
    border-radius: 15px;
}
.getUpdate form input{
    display: inline-block;
    border: none;
    font-size: 20px;
}
#email{
    margin: 80px 0px 80px 110px;
    border-radius: 5px 0px 0px 5px;
    background-color: #D9D9D9;
    color: #AA9F9F;
    height: 48px;
    width: 275px;
}
#submit{
    margin-left: -4px;
    border-radius: 0px 5px 5px 0px;
    width: 157px;
    height: 50px;
    background-color: #FF5959;
}